.titre {
    margin-left: 160px;
    margin-right: 40px;
}

.select {
    margin-right: 40px;
    margin-top:5px;
}

.input {
    margin-top:5px;
}

.image {
    margin-top: 8px;
}

header {
    margin-bottom: 40px;
    margin-top:40px;
}